@media only screen and (max-width: 767px) {
    *{
        box-sizing: border-box;
    }
    .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .row{
        margin: 0;
    }
    .container-xxl{
        padding-left:2px;
        padding-right:2px;
        /* border:1px solid black; */
    }

    header{
        position: relative;
        /* background-color: blue; */
        /* border:3px solid red; */
    }

    /* main{
        border:2px solid green;
    } */
    .menu li{
        visibility: hidden;
    }

    .menu{
        position: absolute;
        top:0;
        right:30px;
        width:50px;
        height:70px;
        /* border: 1px solid black; */
    }


    .fa-bars{       
        position: absolute;
        top:20px;
        left:35px;
        display: inline;
        /* border:1px solid black; */
        font-size: 30px;
        color:gray;

    }

    .fa-search{
        position: absolute;
        top:20px;
        left:10px;
        display: inline;
        /* border:1px solid black; */
        font-size: 30px;
        color:gray;

    }

    .fa-minus{
        color: blue;
    }

    #minus-white{
        color:white;
    }

    .name{

        height: 70px;
        color:blue;  
        /* border:1px solid black; */
        text-align: center;
        
    }

    .name h3{
        display: inline-block;
        width:200px;
        line-height: 69px;
        vertical-align: middle;
        /* border:3px solid black; */
        
    }

    .communication{
        position: relative;
        background-image: url(./images/Communication.jpg);
        background-size: cover;
        width: 100%;
        height:600px;
        background-repeat: no-repeat;
        /* border: 1px solid black; */
        background-position-x: 48%;
    }

    /* .section1{
        background-image: url(./images/education.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height:300px;
    } */

    .communication p{
        color: white;
        text-align: center;
    }
    
    .communication h2{
        color: white;
        text-align: center;
    }
    
    #bookicon{
        position: absolute;
        left:7.5%;
        top:70%;
        width:88px;
        height:65px;
    }
    
    #handshake{
        position: absolute;
        left:10%;
        top:38%;
        width:60px;
        height:60px;
        border-radius: 50%;
    }

    .communication-article{
        position: absolute;
        top:20%;
        right:15%;
        width:200px;
        
    }

    /* .section1{
        border:1px solid red;
    } */
   
    /* #img{
        border:1px solid blue;
    } */
    .link{
        padding: 10px 10px;
    }

    .news{
        margin-top: 25px;
        border: 1px solid #A6ACAF 
        ;
    }

    .input-border{
        height: 50px;
        padding-right:0px;
    }

    .textarea-border{
        padding-right: 0px;
    }

    .form input{
        padding-left: 10px;
        height:30px;
        width: 100%;
        border-radius: 5px;
    }

    .form textarea{
        border-radius: 5px;
    }

    .button button{
    width:200px;
    height:50px;   
    font-weight: bold; 
    background-color: orange;
    color:white;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    }

    .button{
        margin-top: 10px;
        text-align: center;
    }

    .map{
        margin-top: 30px;
    }

    footer{
        margin-top: 50px;
        background-color:#191919   ;
        padding-top: 50px;
        padding-bottom: 10px;
        
    }


    footer p{
        color: gray;
    }

    footer span{
        color: white;
    }

    footer h5{
        color: white;
    }

    footer h4{
        color: gray;
    }

    .category li{    
        list-style: none;
    }

    .category a{
        text-decoration: none;
        color:gray;
    }
    .category ul{
        padding-left: 0;
    }

    .category li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language ul{
        padding-left: 0;
    }

    .language li{
        list-style: none;
    }
    .language a{
        list-style: none;
        color: gray;
    }

    .email form{      
        
        position: absolute;
        bottom:0;
        left:15px;
        
    }

    .email input{
        color: white;
        background-color:#191919 ;
        margin-bottom: 1px;
        border: none;        
    }

    .email button{
        position: absolute;
        bottom:5px;
        right:0;       
        border: none;
        
    }

    .email{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height:60px;
        text-align: center;
        padding-right: 0px;
        border-radius: 8px;
        border-bottom: 2px outset white;
        /* box-shadow: ; */
    }



    hr{
        background-color: gray;
        height: 3px;
    }

    

    .crevea{
        padding-left: 15px;
        padding-right: 15px;
    }

    .category{
        padding-left: 15px;
        padding-right: 15px;
    }

    .language{
        padding-left: 15px;
        padding-right: 15px;
    }

    .getnews{
        padding-left: 15px;
        padding-right: 15px;
    }
 
}

@media only screen and (min-width: 768px){
    *{
        box-sizing: border-box;
    }
    .container-xxl{
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu li{
        display: inline-block;
    }

    .fa-minus{
        color: blue;
    }

    header{
        background-color: #286BBA ;
        position: relative;
        padding-top: auto;
        padding-bottom: auto;
        /* background-color: blue; */
        /* border:3px solid red; */
    }

    .name{
        position: relative;
        display: inline-block;
        height: 90px;  
        text-align: center;
        
    }

    .name h3{
        padding-top: 0;
        height: 90px;  
        width: 140px;
        color: white;
        display: inline-block;
        line-height: 89px;
        vertical-align: middle;
        /* border:3px solid black; */
        
    }

    .fa-bars{
        width: 0;
        height:0;
        visibility:hidden;
    }

    .menu{
        height: 90px;
    }

    .menu ul{
        position: absolute;
        left: auto;
        right:auto;
        width: 500px;
        line-height: 89px;
        vertical-align: center;
    }

    .menu a{
        text-decoration: none;
        color:white;
    }

    .menu a:hover{
        color:orange;
        cursor: pointer;
    }
    .fa-search{
        margin-left: 10px;
        color: white;
        font-size: 13px;
    }


    .img{
        padding-left: 0;
        padding-right: 0;
    }

    .communication{
        padding-left: 0;
        padding-right: 0;
        position: relative;
        background-image: url(./images/Communication.jpg);
        background-size: cover;
        width: 100%;
        height:300px;
        background-repeat: no-repeat;
        /* border: 1px solid black; */
        background-position-x: 48%;
        background-position-y: 55%;
    }

    #bookicon{
        position: absolute;
        left:2%;
        top:210px;
        width:70px;
        height:49px;
    }
    
    #handshake{
        position: absolute;
        left:3%;
        top:120px;
        width:50px;
        height:50px;
        border-radius: 50%;
    }

    .education{
        padding-left: 0;
        padding-right: 0;
    }

    
    .communication p{
        color: white; 
    }
    
    .communication h2{
        color: white;   
    }

    #minus-white{
        color:white;
    }

    .communication-article{
        position: absolute;
        bottom:0;
        right: 0;
        width: 88%;
    }

    .news img{
        border-top: 1px solid #A6ACAF ;
        border-right: 1px solid #A6ACAF ;
        border-left: 1px solid #A6ACAF ;
    }

    .link{
        padding:10px;
        border-right: 1px solid #A6ACAF ;
        border-left: 1px solid #A6ACAF ;
        border-bottom: 1px solid #A6ACAF ;
    }

    input{
        display: block;
        margin-bottom: 20px;
    }

    .button button{
    width:200px;
    height:50px;   
    font-weight: bold; 
    background-color: orange;
    color:white;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    }

    .button{
        margin-top: 10px;
        text-align: center;
    }

    .input-border{
        height: 50px;;
        padding-right:15px;
    }

    .textarea-border{
        padding-right: 15px;
    }

    .form input{
        padding-left: 10px;
        height:30px;
        width: 100%;
        border-radius: 5px;
    }

    .form textarea{
        border-radius: 5px;
    }


    footer{
        margin-top: 50px;
        background-color:#191919   ;
        padding-top: 50px;
        padding-bottom: 10px;        
    }

    

    footer p{
        color: gray;
    }

    footer span{
        color: white;
    }

    footer h5{
        color: white;
    }

    footer h4{
        color: gray;
    }
    .category li{    
        list-style: none;
    }

    .category a{
        text-decoration: none;
        color:gray;
    }
    .category ul{
        padding-left: 0;
    }

    .category li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language ul{
        padding-left: 0;
    }

    .language li{
        list-style: none;
    }
 
    .language a{
        list-style: none;
        color: gray;
    }

    .email form{      
        position: absolute;
        bottom:0;
        left:15px;
        
    }



    .email input{
        color: white;
        background-color:#191919 ;
        margin-bottom: 1px;
        border: none;        
    }

    .email button{
        position: absolute;
        bottom:5px;
        right:0;       
        border: none;
        
    }

    .email{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height:60px;
        text-align: center;
        padding-right: 0px;
        border-radius: 8px;
        border-bottom: 2px outset white;
        /* box-shadow: ; */
    }

  

    hr{
        background-color: gray;
        height: 3px;
    }

    .crevea{
        padding-left: 40px;
        padding-right: 40px;
    }

    .category{
        padding-left: 40px;
        padding-right: 40px;
    }

    .language{
        padding-left: 40px;
        padding-right: 40px;
    }

    .getnews{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 1200px){
    *{
        box-sizing: border-box !important;
    }
    
    *{
        font-size: 13px;
    }
    .menu li{
        display: inline-block;
    }

    .fa-minus{
        color: blue;
    }

    header{
        background-color: #286BBA ;
        position: relative;
        padding-top: auto;
        padding-bottom: auto;
        /* background-color: blue; */
        /* border:3px solid red; */
    }

    .name{
        position: relative;
        display: inline-block;
        height: 90px;  
        text-align: center;
        
    }

    .name h3{
        padding-top: 0; 
        width: 140px;
        color: white;
        display: inline-block;
        line-height: 89px;
        vertical-align: middle;
        /* border:3px solid black; */
        
    }

    .fa-bars{
        width: 0;
        height:0;
        visibility:hidden;
    }

    .menu{
        height: 90px;
    }

    .menu ul{
        padding-left:10%;
        width: 500px;
        line-height: 90px;
        vertical-align: center;
    }

    .menu a{
        text-decoration: none;
        color:white;
    }

    .menu a:hover{
        color:orange;
        cursor: pointer;
    }
    .fa-search{
        margin-left: 10px;
        color: white;
        font-size:10px;
    }


    .img{
        padding-left: 0;
        padding-right: 0;
    }

    .article-border{
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding-right: 0;
    }

    .article{
        padding-right: 0;
        padding-left: 0;
    }

    .section2{
        display: grid;
        grid-auto-flow: column;
    }

    .communication{
        padding-left: 0;
        padding-right: 0;
        background-image: url(./images/Communication.jpg);
        background-size: cover;
        width: 100%;
        height:100%;
        background-repeat: no-repeat;
        background-position-x: 48%;
        background-position-y: 55%;
    }

    #bookicon{
        position: absolute;
        left:-26px;
        top:34%;
        width:55px;
        height:40px;
    }
    
    #handshake{
        position: absolute;
        left:-21px;
        top:17%;
        width:40px;
        height:40px;
        border-radius: 50%;
    }

    .education{
        padding-left: 0;
        padding-right: 0;
    }

    
    .communication p{
        color: white; 
    }
    
    .communication h2{
        color: white;   
    }

    #minus-white{
        color:white;
    }

    .communication-article{
        position: absolute;
        top:30px;
        left:40px;
        width: 88%;
    }

    .news-border{
        margin-left: auto;
        margin-right: auto;
    }

    .news img{
        border-top: 1px solid #A6ACAF ;
        border-right: 1px solid #A6ACAF ;
        border-left: 1px solid #A6ACAF ;
    }

    .contact-border{
        margin-left: auto;
        margin-right: auto;
    }

    .link{
        padding:10px;
        border-right: 1px solid #A6ACAF ;
        border-left: 1px solid #A6ACAF ;
        border-bottom: 1px solid #A6ACAF ;
    }

    
    /* .button{
        height: 50px;
        position: relative;
    }
    .button button{
    width:150px;
    height:40px;   
    font-weight: bold; 
    background-color: orange;
    color:white;
    border:0;
    border-radius: 5px;
    cursor: pointer;
    }

    .button button{
        position: absolute;;
        right:-90px;
    }

    .input-border{
        height: 50px;
        padding-right: 0;
    }

    .textarea-border{
        padding-right: 0;
    }

    .form input{
        padding-left: 10px;
        height:30px;
        width: 100%;
        border-radius: 5px;
    }

    .form textarea{
        border: 1px solid gray;
        border-radius: 5px;
    } */

    footer{
        margin-top: 50px;
        background-color:#191919   ;
        padding-top: 50px;
        padding-bottom: 10px;        
    }

    .footer-border{
        margin-left: auto;
        margin-right: auto;
    }

    footer p{
        color: gray;
    }

    footer h4{
        color: gray;
    }

    footer span{
        color: white;
    }

    footer h5{
        font-weight: 400;
        color: white;
    }
    .category li{    
        list-style: none;
    }

    .category a{
        text-decoration: none;
        color:gray;
    }
    .category ul{
        padding-left: 0;
    }

    .category li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language li::before{
        color: gray;
        /* content:"\f105"; */
        font-weight: 900;
        font-family: 'Font Awesome\ 5 Free';
        content: "\f105"; /* FontAwesome Unicode */
    }

    .language ul{
        padding-left: 0;
    }

    .language li{
        list-style: none;
    }
 
    .language a{
        text-decoration: none;
        color: gray;
    }


    .email form{      
        position: absolute;
        bottom:0;
        left: 15px;
        bottom: 5px;
    }

    .email input{
        width: 120px;
        color: white;
        background-color:#191919 ;
        margin-bottom: 1px;
        border: none;        
    }

    .email button{
        position: absolute;
        bottom:5px;
        right:0;       
        border: none;
        
    }

    .email{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height:60px;
        text-align: center;
        padding-right: 0px;
        border-radius: 8px;
        border-bottom: 2px outset white;
        /* box-shadow: ; */
    }

  

    hr{
        background-color: gray;
        height: 3px;
    }

    .crevea{
        padding-left: 15px;
        padding-right: 0px;
    }

    .category{
        padding-left: 35px;
        padding-right:0px;
    }

    .language{
        padding-left: 25px;
        padding-right: 0px;
    }

    .getnews{
        padding-left: 15px;
        padding-right:0px;
    }
}

@media only screen and (min-width: 1400px)
{
    .container-xxl{
        margin-left: auto;
        margin-right: auto;
        width:1320px;
    }
}